<!-- login.component.html -->
<div class="login-container">
    <h2>Login</h2>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username"  id="username" formControlName="username">
            <span *ngIf="isInvalidField('username')">Username can't be empty</span>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password"  id="password" formControlName="password">
            <span *ngIf="isInvalidField('password')">Password can't be empty</span>
        </div>
        <button type="submit">Login</button>
    </form>
</div>